@model CommunityBox.Web.Mvc.ViewModels.Identities.UserViewModel

@section Scripts{
<script xmlns="http://www.w3.org/1999/html">
        // Get the modal
        const modal = document.getElementById("chatModal");
        
        // Get the button that opens the modal
        const btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        const span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target === modal) {
            modal.style.display = "none";
          }
        }
    </script>

<script>
        $("#sendMsg").click(function(){
            const requestData = {
              RecipientUserId: $("#RecipientUserId").val(),
              Content: $("#Content").val()
            };
            
            $.ajax({
                url: '@Url.Action("SendSingleMessage", "Chats")',
                method: 'POST',
                data: requestData,
                success: function(data){
                    const modal = document.getElementById("chatModal");
                    modal.style.display = "none";
                    $("#Content").val('');
                }
            });
        });
</script>
}

@section Styles{
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        
        /* Modal Content */
        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
        }
        
        /* The Close Button */
        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
    </style>
}

<div class="form-group">
    <label asp-for="UserName">Имя</label>
    <input type="text" asp-for="UserName" class="form-control" disabled/>
</div>
<div class="form-group">
    <label asp-for="Id">Id</label>
    <input type="text" asp-for="Id" class="form-control" disabled/>
</div>
<div class="form-group">
    <label asp-for="Email">Описание лота</label>
    <input type="text" asp-for="Email" class="form-control" disabled/>
</div>
<br/>
<a href="@Url.Action("List","Auction", new {id = Model.Id})" class="form-control btn-primary text-center" role="button">Аукционы</a>
<br/>

@if (!Model.IsMyProfile)
{
    <button id="myBtn" class="form-control btn-secondary">Написать сообщение</button>
    
    <div class="container">
        <div id="chatModal" class="modal">

            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="chatForm">
                    <input type="hidden" value="@Model.Id" id="RecipientUserId" name="RecipientUserId">
                    <textarea style="height: 150px !important;" class="form-control" id="Content" name="Content"></textarea>
                    <br/>
                    <button id="sendMsg" type="submit" class="form-control btn-primary">Отправить</button>
                </div>
            </div>
        </div>
    </div>
}

