@model CommunityBox.Web.Mvc.ViewModels.Auction.NewAuctionViewModel

<h2>Создание аукциона</h2>

<form asp-action="New" method="Post" asp-anti-forgery="true">
    <div class="form-group">
        <label asp-for="Lot.Name">Название лота</label>
        <input type="text" asp-for="Lot.Name" class="form-control"/>
        <span asp-validation-for="Lot.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lot.Comment">Описание лота</label>
        <input type="text" asp-for="Lot.Comment" class="form-control"/>
        <span asp-validation-for="Lot.Comment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration">Продолжительность аукциона</label>
        <input type="text" asp-for="Duration" class="form-control"/>
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartingPrice">Стартовая цена</label>
        <input type="text" asp-for="StartingPrice" class="form-control"/>
        <span asp-validation-for="StartingPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Создать" class="form-control btn-primary"/>
    </div>
</form>