<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <targets>
    <target name="File" fileName="#{AppLogPath}/${shortdate}.json" xdt:Transform="SetAttributes(fileName)" xdt:Locator="Match(name)"/>
  </targets>
   <targets>
    <target name="Console" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  </targets>
  <rules>
    <logger name="*" writeTo="File" minlevel="#{LogLevel}" xdt:Transform="SetAttributes(minlevel)" xdt:Locator="Match(name,writeTo)"/>
    <logger name="*" minlevel="Debug" writeTo="Console" xdt:Locator="Match(writeTo)" xdt:Transform="Remove"/>
  </rules>
</nlog>
